<!DOCTYPE html>
    <html>
        <head>
          <meta charset="UTF-8">
          <meta name="description" content="This is an awesome website">
          <link rel="stylesheet" href="/stylesheets/header.css"/>
          <link rel="stylesheet" href="/stylesheets/page5.css"/>
          <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Courgette">
          <title>Over ons</title>
        </head>
        <Body>
          <header style="display: block;">
              <div class="navigatie">
                <ul>
                  <li class="list">
                    <a href="/">
                      <span class="icoon"><ion-icon name="heart-outline"></ion-icon></span>
                      <span class="tekst">Welkom</span>
                    </a>
                  </li>
                </ul>    
                <ul>
                  <li class="list">
                    <a href="/programma">
                      <span class="icoon"><ion-icon name="newspaper-outline"></ion-icon></span>
                      <span class="tekst">Programma</span>
                    </a>
                  </li>
                </ul>
                <ul>
                  <li class="list">
                    <a href="/RSVP">
                      <span class="icoon"><ion-icon name="checkmark-circle-outline"></ion-icon></span>
                      <span class="tekst">RSVP</span>
                    </a>
                  </li>
                </ul>
                <ul>
                  <li class="list">
                    <a href="/diner">
                      <span class="icoon"><ion-icon name="restaurant-outline"></ion-icon></span>
                      <span class="tekst">Diner</span>
                    </a>
                  </li>
                </ul>
                <ul>
                  <li class="list">
                    <a href="/overnachting">
                      <span class="icoon"><ion-icon name="bed-outline"></ion-icon></span>
                      <span class="tekst">Overnachting</span>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="logout">
                <form action="/logout?_method=DELETE" method="POST">
                  <button class="buttonLogout" type="submit"><ion-icon name="log-out-outline"></ion-icon></button>
                </form>
            </div>
              <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
              <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
          </header>
          <main>
            <h1>Overnachting</h1>
            <br>
            <p>Onze trouwlocatie is tevens een hotel die beschikt over 127 kamers en suites.</p>
            <p>Mocht je al zeker weten dat je hier wil overnachten, dan kunnen wij het hotel vragen om alvast een kamer voor jullie te reserveren.</p>
            <p>Zodat je later pas hoeft te boeken maar wel verzekerd bent van een plekje.</p>
            <br>
            <p>Mocht je met meerdere personen of kinderen zijn. Dan is een kamer met tussendeur een mogelijkheid.</p>
            <p>Heb je andere speciale wensen voor de kamer geef dit dan door zodat we dit voor jullie kunnen vragen.</p>
            <br>
            <p>Door op de onderstaande link te klikken kom je op de website van het hotel</p>
            <p>hier kun je alle informatie vinden zoals de kamers en faciliteiten.</p>
            <br>
            
            <a href="https://heerlickheijdvanermelo.nl/?partner=5464&utm_source=google&utm_medium=gmb&utm_campaign=web_link">Hotel de Heerlickheijd van Ermelo</a>
            <br>
            <p>Wil je dat er een kamer voor je gereserveerd word stuur dan een email naar:</p>
            <p>stephanie_verheul@hotmail.com</p>
            <br>
            <p>Zien we jullie terug bij het ontbijt?</p>
          </main>
        </Body>