@import url(https://fonts.googleapis.com/css?family=Courgette);
*

header{
    display: flex;
    height: 200px;
    padding-top: 10px;
    padding-left: 10px;
    margin: 0;
    font-family: 'Courgette', cursive;
    background: var(--clr);
}
.logout{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logout form:hover button .buttonLogout{
    border: solid rgb(83, 81, 81);
    border-radius: 10px;
}

.buttonLogout{
    position: relative;
    display: block;
    color: goldenrod;
    background: none;
    border: none;
    outline: none;
    font-size: 1.5em;
    text-align: center;
    cursor: pointer;
}

.navigatie{
    width: 400px;
    height: 70px;
    border-bottom: solid rgb(83, 81, 81);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}


.navigatie ul{
    display: flex;
    width: 350px;
    margin: 0;
    padding: 0;
}

.navigatie ul li{
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}
.navigatie ul li a{
    position: relative;
    display: flex;
    color: goldenrod;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}
.navigatie ul li a .icoon{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--clr);
}
.navigatie ul li:hover a .icoon{
    transform: translateY(-35px);
}
.navigatie ul li a .tekst{
    position: absolute;
    color: var(--clr);
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
}
.navigatie ul li:hover a .tekst{
    opacity: 1;
    transform: translateY(10px);
}